body {
    font-family: "Montserrat", "Arial", sans-serif;
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #515076;
}

.container {
    margin: 0 auto;
    width: 1280px;
}

.container--bgm {
    padding: 220px 85px 116px;
    background-image: url("/images/background_title.png");
    background-repeat: no-repeat;
    background-position: 175px -31px;
}

.main-title {
    font-weight: 400;
    font-size: 70px;
    line-height: 78px;
    text-align: center;
    margin: 0 0 110px 0;
}

.list-none {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-list {
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.product-card {
    padding: 25px;
    background-color: #f7f7fa;
    width: 340px;
    height: 573px;
    box-shadow: 2px 2px 10px 0px #5150761a;
    box-sizing: border-box;
}

.product-card__img {
    display: block;
    margin-bottom: 30px;
}

.product-card__category {
    display: inline-block;
    color: #a5a3b9;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.product-card__product-title {
    color: #515076;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    margin: 0 0 7px 0;
}

.product-card__description {
    margin: 0 0 17px 0;
    line-height: 18px;
    text-align: left;
}

.product-card__compound {
    display: inline-block;
    text-align: left;
    margin-bottom: 4px;
}

.compound-list {
    margin-bottom: 25px;
}

.compound-list__item {
    position: relative;
    padding-left: 15px;
}

.compound-list__item:not(:last-child) {
    margin-bottom: 4px;
}

.compound-list__item::before {
    content: '';
    position: absolute;
    background-image: url('/images/round_item.svg');
    left: 1px;
    top: 7px;
    width: 7px;
    height: 7px;
}

.wrapper-price {
    display: flex;
    justify-content: space-between;
}

.rate {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.value {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.wrapper-button {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    appearance: none;
    text-decoration: none;
    text-align: center;
    color: inherit;
    font-family: inherit;
    font-size: 15px;
    padding: 15px;
    box-shadow: 2px 2px 10px 0px #5150761a;
    background-color: #cacaf4;
    border-radius: 10px;
    border: #a5a3b9;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

.button--color-pink {
    background-color: #dc9adf;
}

.page-footer {
    background-color: #3a3a3a;
}

.page-footer__container {
    padding: 84px 0 28px;
}

.page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.social-media__title {
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
    margin: 0 0 28px 0;
}

.social-media__description {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 42px 0;
    text-transform: capitalize;
}

.social-media__list {
    display: flex;
    gap: 30px;
}

.social-media___link {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    width: 24px;
    height: 17px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.social-media___link::before {
    content: "";
    display: block;
    width: 28px;
    height: 17px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #ffffff;
}

.social-media___link--telegram::before {
    mask-image: url("images/telegram.svg");
    mask-size: 21px 14px;
}

.social-media___link--vk::before {
    mask-image: url("images/vk.svg");
    mask-size: 21px 17px;
}

.promo-subscription__title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 0 13px 0;
    text-align: center;
}

.form {
    display: flex;
    margin: 0 auto;
}

.form__input {
    color: #000000bf;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    padding: 22px 129px 22px 36px;
    border-radius: 10px 0px 0px 10px;
    border: none;
    cursor: pointer;
}

.form__button {
    color: #000000;
    background-color: #ffffff;
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;
    padding: 20px 15px 19px;
    border-radius: 0 10px 10px 0;
    border: none;
    cursor: pointer;
    position: relative;
}

.form__button::before {
    content: "";
    display: block;
    width: 1px;
    height: 14px;
    background-image: url(images/line.svg);
    position: absolute;
    top: 24px;
    left: 0;
}

.quick-links__title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin: 0 0 25px 0;
}

.quick-links__item:not(:last-child) {
    margin-bottom: 10px;
}

.quick-links__link {
    color: #ffffff;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

.footer-copyright {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    text-align: center;
    padding-left: 184px;
    position: relative;
}

.footer-copyright::before {
    content: "";
    position: absolute;
    display: block;
    width: 66px;
    height: 1px;
    background-image: url("images/white_line.svg");
    bottom: 33px;
    right: 40%;
}

.registration {
    box-shadow: 2px 2px 10px 0px #3532851a;
    border-radius: 10px;
    padding: 0 100px;
    margin: 30px;
}

.registration__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 78px;
    text-align: center;
    margin: 0 0 30px 0;
}

.registration__form {
    width: 500px;
    margin: 0 auto;
}

.registration__item {
    display: grid;
    grid-template-columns: 150px 347px;
    align-items: center;
    box-shadow: 2px 2px 10px 0px #4615d736;
    ;
    border-radius: 10px;
    margin-bottom: 30px;
    padding-left: 3px;
}

.field-title {
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
}

.field {
    padding: 14px 20px 14px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-family: inherit;
}

.field:hover {
    background-color: #e7e7f8;
}

.registration__button {
    padding: 15px 173px;
    margin-bottom: 30px;
}

.authentication {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.authentication__button {
    padding: 15px 190px;
    background-color: #f9e2fc;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-overlay--showed {
    display: flex;
}

.modal {
    position: relative;
    margin: auto;
    background: #ffffff;
    padding: 64px 70px;
    border-radius: 30px;
}

.modal__close-button {
    position: absolute;
    background-image: url("images/close.svg");
    background-repeat: no-repeat;
    background-color: #fffFff;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    border: none;
    padding: 0;
    top: 30px;
    right: 38px;
    cursor: pointer;
}

.modal__close-button:hover {
    opacity: 0.8;
}

.modal__title {
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 30px;
}

.authentication-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.field--modal {
    background-color: #efdff0;
}

.users-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.user-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
    background-color: #f7f7fa;
    width: 340px;
    box-shadow: 2px 2px 10px 0px #5150761a;
    box-sizing: border-box;
    align-items: center;
}

.user-text {
    margin: 0;
    font-size: 15px;
}

.user-card__img {
    border-radius: 50%;
    width: 100px;
}

.title {
    font-weight: 400;
    font-size: 70px;
    line-height: 78px;
    text-align: center;
    margin: 50px 0 50px 0;
}

.message-data-download--none {
    display: none;
}

.message-data-download__text {
    text-align: center;
    font-size: 25px;
}